################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ServicesLab/v17
/.vs
/src/Services/.vs
/src/.vs
/src/bin/Debug
/src/obj/Debug
/src/Services/Productos/Productos.Api/bin/Debug/net8.0
/src/Services/Productos/Productos.Api/obj
/src/Services/Productos/Productos.Application/bin/Debug/net8.0
/src/Services/Productos/Productos.Application/obj
/src/Services/Productos/Productos.DB/bin/Debug
/src/Services/Productos/Productos.DB/obj/Debug
/src/Services/Productos/Productos.Domain/bin/Debug/net8.0
/src/Services/Productos/Productos.Domain/obj
/src/Services/Productos/Productos.Infraestructure/bin/Debug/net8.0
/src/Services/Productos/Productos.Infraestructure/obj
/src/Services/Productos/PRoductos.Presentation/bin/Debug/net8.0
/src/Services/Productos/PRoductos.Presentation/obj
/src/obj/Docker
/src/Services/Productos/Productos.Web/obj
/src/Services/Productos/Productos.Web
/src/Services/Productos/Productos.DB/Productos.DB.dbmdl
/src/Services/Productos/Productos.DB/Productos.DB.jfm
/src/Services/Insumos/Insumos.Api/bin/Debug/net8.0
/src/Services/Insumos/Insumos.Api/obj
/src/Services/Insumos/Insumos.Application/bin/Debug/net8.0
/src/Services/Insumos/Insumos.Application/obj
/src/Services/Insumos/Insumos.DB/bin/Debug
/src/Services/Insumos/Insumos.DB/obj/Debug
/src/Services/Insumos/Insumos.Domain/bin/Debug/net8.0
/src/Services/Insumos/Insumos.Domain/obj
/src/Services/Insumos/Insumos.Domain/Primitives/Entity.cs
/src/Services/Insumos/Insumos.Infraestructure/bin/Debug/net8.0
/src/Services/Insumos/Insumos.Infraestructure/obj
/src/Services/Insumos/Insumos.Presentation/bin/Debug/net8.0
/src/Services/Insumos/Insumos.Presentation/obj
/src/Services/Insumos/Insumos.DB/Insumos.DB.dbmdl
/src/Services/Insumos/Insumos.DB/Insumos.DB.jfm
/src/Services/Gateway/Gateway.API/bin/Debug/net8.0
/src/Services/Gateway/Gateway.API/obj
/src/Services/Gateway/bin/Debug/net8.0
/src/Services/Gateway/obj
/src/Services/Ventas/Ventas.Domain/bin/Debug/net8.0
/src/Services/Ventas/Ventas.Domain/obj
/src/Services/Ventas/Ventas.Infraestructure/bin/Debug/net8.0
/src/Services/Ventas/Ventas.Infraestructure/obj
/src/Services/Ventas/Ventas.Application/obj
/src/Services/Ventas/Ventas.Application/bin/Debug/net8.0
